<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>cookie</title>
        <style media="screen">

        </style>
       
    </head>
    <body>
    <Button class="btn">请求</Button>
    <script src="main.js"></script>
    <script>
        const __main = function() {
        const e = document.querySelector.bind(document)
        const btn = e('.btn')
        btn.addEventListener('click', function () {
            post('/response')
            console.log('click btn') 
        })
    }

    __main()
    </script>
    </body>
</html>
